*                       @antranig-yeretzian
/.github/               @antranig-yeretzian
/.goreleaser.yaml       @antranig-yeretzian
/.tagpr                 @antranig-yeretzian
/VERSION                @antranig-yeretzian
